* {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-image: url('assets/background_pattern.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    scroll-behavior: smooth;
}

app-root {
    display: block;
    min-height: 100vh;
}