<nav class="navbar navbar-light py-4 px-4 mx-3">
  <div class="container-fluid">

    <a class="navbar-logo d-flex align-items-center" routerLink="/">
      <img src="assets/logo.png" alt="FitPaw Logo" height="60px" class="me-2">
      <span class="fw-bold fs-3 mt-3">FitPaw</span>
    </a>

    <div class="nav-buttons d-flex gap-3 align-items-center">
      <ng-container *ngIf="!authService.isLoggedIn()">
        <button class="btn btn-login" routerLink="/login">Login</button>
        <button class="btn btn-register" routerLink="/register">Register</button>
      </ng-container>
      <ng-container *ngIf="authService.isLoggedIn()">
        <button class="btn btn-dashboard" routerLink="/dashboard">Dashboard</button>
        <button class="btn btn-logout" (click)="logout()">Log out</button>
      </ng-container>
    </div>

  </div>
</nav>